body {
    margin: 0;
    padding: 0;
    background: #f8eed0;
    font-family: "Inter", sans-serif;
}

.page-container {
    width: 90%;
    margin: auto;
    padding: 20px 0;
}


.back-btn {
    background: #ecf2db;
    border: 1px solid #b8cba1;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 30px;
}


.layout {
    display: flex;
    gap: 60px;
}


.left {
    width: 40%;
}

.ingredient-box {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingredient-box img {
    width: 90%;
}

.ingredient-name {
    margin-top: 30px;
    font-size: 35px;
    font-weight: 700;
}


.right {
    width: 60%;
}

.heading {
    font-size: 22px;
    margin-bottom: 40px;
    font-weight: 600;
}

.heading span {
    font-weight: 700;
}

.product-card {
    display: flex;
    align-items: center;
    background: #f7e5d7;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
    gap: 20px;
}

.product-img {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
}

.product-info {
    width: 65%;
}

.product-title {
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}

.price {
    font-size: 15px;
    margin-top: 10px;
    color: #222;
}


.add-btn {
    background: #2d5a27;
    color: white;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* ---------------- MOBILE RESPONSIVE ---------------- */
@media (max-width: 768px) {

    .page-container {
        width: 95%;
        padding: 10px 0;
    }

    .back-btn {
        width: fit-content;
        padding: 8px 16px;
        font-size: 14px;
    }

    .layout {
        flex-direction: column;
        gap: 30px;
    }

    .left, 
    .right {
        width: 100%;
    }

    .ingredient-box {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .ingredient-box img {
        width: 100%;
    }

    .ingredient-name {
        font-size: 28px;
        margin-top: 20px;
        text-align: center;
    }

    .heading {
        font-size: 20px;
        margin-bottom: 25px;
        text-align: center;
    }

    .product-card {
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }

    .product-img {
        width: 140px;
        height: 140px;
    }

    .product-info {
        width: 100%;
    }

    .product-title {
        font-size: 15px;
    }

    .price {
        font-size: 14px;
    }

      h1{
        margin-left: 30px;
    }
    .add-btn {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        font-size: 22px;
        margin-top: 10px;
    }
}
