body {
    margin: 0;
    background: #f7efd9;
    font-family: Arial, sans-serif;
    color: #333;
}

.desktop-container {
    width: 1250px;
    margin: auto;
    padding: 40px 0;
}


.hero {
    display: flex;
    gap: 50px;
}

.hero-img {
    width: 360px;
    border-radius: 12px;
}

.hero-right h1 {
    margin-top: 0;
    font-size: 30px;
    line-height: 38px;
}

.hero-right p {
    width: 600px;
    font-size: 16px;
    margin-top: 10px;
}

.hero-right ul {
    margin-top: 10px;
    padding-left: 18px;
    line-height: 26px;
}

.dosha-section {
    margin-top: 50px;
}

.dosha-row {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.dosha-item {
    padding: 15px 30px;
    border-radius: 40px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

.blue { background: #46a1ff; }
.green { background: #5ebd4c; }
.orange { background: #ff8a44; }



.benefit-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.benefit-card {
    background: #fff6e5;
    padding: 20px;
    border-left: 6px solid #ff9100;
    border-radius: 10px;
}

.benefit-card h4 {
    margin: 0 0 10px;
}


.property-row {
    display: flex;
    gap: 40px;
    margin-top: 10px;
    font-weight: 600;
}


.form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 15px;
}

.form-item {
    background: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 600;
}


.therapy-row {
    margin-top: 15px;
    display: flex;
    gap: 12px;
}

.therapy-row span {
    background: #fff;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 600;
}


.product-row {
    margin-top: 30px;
    display: flex;
    gap: 35px;
}

.product-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 30%;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 12px;
}

.product-name {
    font-weight: 700;
    margin: 12px 0 8px;
}

.product-price {
    color: green;
    font-size: 18px;
    font-weight: 700;
}


footer {
    margin-top: 60px;
    background: #dbe5d8;
    padding: 50px 0;
}

.footer-container {
    width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

